# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
packages/**/node_modules
.pnp
.pnp.js

# testing
coverage
packages/**/coverage

# next.js
.next
packages/**/.next
out

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel
.env

# other
npm-debug.log
packages/**/lib
storybook-static
npm-debug.log*
packages/**/.env
*.log
*.cache
yarn-error.log
packages/**/.rpt2_cache
packages/**/.rts2_cache*
packages/**/tsconfig.tsbuildinfo
tsconfig.tsbuildinfo

# build outputs
dist/

